<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins" style="background-color:rgba(150, 137, 137, 0.678);">
        <div class="wrapper wrapper--w681">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Creation Produit</h2>
                    <form method="POST" action="//update_produit/<%= produit.id %> >
                        <div class="row row-space"> 
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Type</label>
                                    <input class="input--style-4" type="text" name="type">
                                </div>
                                <div class="input-group">
                                    <label class="label">Marque</label>
                                    <input class="input--style-4" type="text" name="marque">
                                </div>
                                <div class="input-group">
                                    <label class="label">Prix</label>
                                    <input class="input--style-4" type="number" name="prix">
                                </div>
                                <div class="input-group">
                                    <label class="label">Couleur</label>
                                    <input class="input--style-4" type="text" name="couleur">
                                </div>
                            </div>
                        </div>
                                           
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>



