<body>
  <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins" style="background-color:rgba(150, 137, 137, 0.678);">
      <div class="wrapper wrapper--w681">
          <div class="card card-4">
              <div class="card-body" style="margin-top: 150px">
                  <h1 class="title" style="text-align:center; font-size: 18;"><b>Se connecter</b></h1><br>
                  <form method="POST" action="/login">
                      <div class="row row-space"> 
                          <div class="col-2">                              
                              <div class="input-group">
                                  <label class="label">Matricule</label>
                                  <input class="input--style-4" type="text" name="matricule" >
                              </div>
                          </div>
                      </div>
                      <div class="row row-space">
                          <div class="col-2">
                              <div class="input-group">
                                  <label class="label">Mot de passe</label>
                                  <input class="input--style-4" type="Password" name="password" >
                              </div>
                          </div>                          
                      </div>
                      
                      <div class="p-t-15">
                          <button class="btn btn--radius-2 btn--blue" type="submit">Se connecter</button>
                          <a href="/creer_compte" class="btn btn--radius-2 btn--blue" style="text-decoration:none;">Inscription</a>
                          
                      </div>
                      <br>
                      <div>
                          <a href="/modif_compte">Mot de pass Oublié</a>                          
                      </div>
                  </form>
                  

                
              </div>
          </div>
      </div>
  </div>

</body>

  <!--  <a href="/form_client" class="btn btn--radius-2 btn--blue" style="text-decoration:none;">create client</a> -->