

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins" style="background-color:rgba(150, 137, 137, 0.678);">
        <div class="wrapper wrapper--w681">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Modification mot de passe</h2>
                    <form method="POST" action="/modif_compte">
                        <div class="row row-space"> 
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Matricule</label>
                                    <input class="input--style-4" type="number" name="matricule">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Password</label>
                                    <input class="input--style-4" type="Password" name="password" >
                                </div>
                            </div>
                        </div>  
                     
                       
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" id="sub" type="submit">confirmer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body><!-- This templates was made by Colorlib (https://colorlib.com) -->


</html>
<!-- end document-->